* {
  background-color: #252525;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 35%;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1 {
    margin-bottom: 20px;
  }
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

*button {
  outline: none;
}

.btn-primary:active,
.btn-primary:focus {
  outline: none;
}

.btn-secondary:active,
.btn-secondary:focus {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  background-color: #252525;
  /*overflow: hidden;*/
}

.container {
  background-color: #252525;
}

select {
  border: solid 1px;
  border-radius: 5px;
  height: 28px;
}

input {
  border: solid 1px;
  border-radius: 5px;
}

#infotext {
  margin: 15px;
  font-size: 40px;
  text-align: center;
}

#desctext {
  font-size: 50%;
  letter-spacing: normal;
  line-height: 10px;
}

.note-text-container {
    background: #efefef;
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    border: 1px #e2e2e2 solid;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: normal !important;
    color: black;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer .container div:last-child {
    margin-left: auto;
}
small.tagline {
    font-size: 0.575em;
    vertical-align: middle;
}
.header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
  margin-top: 10px;
}

.delete-stale-messages {
    color: gray;
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 8px;
}
.note-header {
    width: 100%;
    height: 25px;
}
.note-read-header {
    float: left;
    margin: 0;
}
.note-copy-header {
    float: right;
    text-align: right;
}

#text {
  color: white;
}